.new_box {
  position: relative;
  background-color: #fff;
  margin: 0 16px;
  -webkit-transition: opacity0 .3s;
  -moz-transition: opacity0 .3s;
  -ms-transition: opacity0 .3s;
  -o-transition: opacity0 .3s;
  transition: opacity0 .3s;
}

.new_box_img {
  display: flex;
  display: -webkit-flex;
  align-items: center;
  -webkit-align-items: center;
  overflow: hidden;
  max-height: 280px;
}

.new_box_img img {
  width: 100%;
  height: 280px;
  object-fit: cover;
}

.new_box_info {
  padding: 34px 24px 75px 40px;
}

.new_box_date {
  color: #6e6e78;
  font: 300 14px/20px "GT Eesti Pro Display",sans-serif;
  margin-bottom: 11px;
}

.new_box_title {
  color: #070707;
  font: 500 20px/26px "GT Eesti Pro Display",sans-serif;
  letter-spacing: -.09px;
  margin-bottom: 11px;
}

.new_box_more {
  position: absolute;
  bottom: 36px;
  left: 40px;
  text-decoration: none;
  color: #fa5925;
  font: 500 16px "GT Eesti Pro Display",sans-serif;
}