.top_inner {
  position: relative;
  z-index: 30;
  padding: 214px 0 210px;
  min-height: 100%;
  display: -webkit-flex;
  -webkit-align-items: center;
}
.top_info {
  text-align: left;
  max-width: 727px;
  position: relative;
  z-index: 5;
}
.top_info_title {
  color: #fff;
  font: 70px/80px "GT Eesti Pro Display", sans-serif;
  letter-spacing: -0.7px;
}
.container {
  composes: container from global;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 40px;
}
.top_scroll {
  left: -21px;
  -webkit-transform: translateX(0);
  cursor: pointer;
  display: -webkit-flex;
  -webkit-align-items: center;
  -webkit-justify-content: center;
  position: absolute;
  bottom: 100px;
  z-index: 5;
  width: 56px;
  height: 56px;
  text-decoration: none;
}

.svg_arrow_down svg {
  display: block;
  stroke: #fff;
  fill: #fff;
  stroke-width: 2.5;
}
.svg_arrow_down {
  width: 14px;
  height: 9px;
}