@keyframes markShow {
  0% {
    opacity: 0;
  }
  8.32% {
    opacity: 1;
  }
  16.66% {
    opacity: 1;
  }
  20% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}
.top_mark {
  position: absolute;
  z-index: 3;
  opacity: 0;
  animation-name: markShow;
  animation-duration: 49s;
  animation-iteration-count: infinite;
}
.top_mark_1 {
  top: 33%;
  right: 8%;
  z-index: 10;
  animation-delay: 1s;
  composes: top_mark;
}
.top_mark_2 {
  top: 60%;
  left: 30%;
  z-index: 15;
  animation-delay: 9s;
  composes: top_mark;
}
.top_mark_3 {
  top: 60%;
  right: 10%;
  z-index: 15;
  animation-delay: 17s;
  composes: top_mark;
}
.top_mark_4 {

  top: 15%;
  right: 10%;
  animation-delay: 25s;
  composes: top_mark;
}
.top_mark_5 {
  top: 2%;
  left: 40%;
  animation-delay: 33s;
  composes: top_mark;
}
.top_mark_6 {
  bottom: 0;
  left: 45%;
  z-index: 10;
  animation-delay: 41s;
  composes: top_mark;
}

.top_mark_tooltip {
  position: absolute;
  top: 94px;
  left: 50%;
  z-index: 2;
  margin-left: -128px;
  width: 256px;
  min-height: 98px;
  border: 1px solid #353539;
  background-color: rgba(53, 53, 57, 0.7);
  padding: 18px 16px 18px 23px;
}
.top_mark_tooltip:after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  border: 10px solid transparent;
  border-top: 12px solid #353539;
}
.top_mark_tooltip p {
  color: rgba(255,255,255,.9);
  font: 16px/20px "GT Eesti Pro Display",sans-serif;
  margin-bottom: 0;
}
.home_top_anim {
  position: relative;
  z-index: 1;
  width: 400px;
  height: 400px;
}
.home_top_anim svg {
  display: block;
}


