.tools_timeline {
  position: relative;
  padding-right: 10px;
  background-color: #26262b;
}
.tools_timeline::after {
  content: "";
  position: absolute;
  bottom: -3px;
  right: 0;
  border: 5px solid transparent;
  border-left: 10px solid #903f28;
}
.tools_timeline_wrap {
  display: flex;
  display: -webkit-flex;
  overflow: hidden;
}
.tools_timeline_period {
  position: relative;
  min-width: 46.5%;
  -webkit-transition: all 0.8s;
  -moz-transition: all 0.8s;
  -ms-transition: all 0.8s;
  -o-transition: all 0.8s;
  transition: all 0.8s;
}
.tools_timeline_lines {
  display: flex;
  align-items: flex-end;
  overflow: hidden;
}
.tools_timeline_lines span {
  display: block;
  min-width: 1px;
  height: 4px;
  background-color: #903f28;
  margin-right: 4px;
}
.tools_timeline_lines span:first-child {
  height: 23px;
  background-color: #fa5925;
}
.tools_timeline_label {
  position: absolute;
  top: 0;
  left: 10px;
  color: rgba(255, 255, 255, 0.6);
  font: 500 14px/1 "GT Eesti Pro Display", sans-serif;
  letter-spacing: -0.06px;
}
.tools_timeline.step_2 .period_1 {
  min-width: 0;
}

.tools_timeline.step_2 .period_2
{
  min-width: 40px;
}
.tools_timeline.step_2 .period_3 {
  min-width: calc(46.5% - 40px);
}
.tools_timeline.step_3 .period_2 {
  min-width: 0;
}
.tools_timeline.step_3 .period_3 {
  min-width: 0;
}
.tools_timeline.step_3 .period_4 {
  min-width: 20px;
}
.tools_timeline.step_3 .period_5 {
  min-width: calc(90% - 20px);
}
.tools_timeline.step_3 .period_4 span {
  margin-right: 1px;
}

.tools_timeline.step_2 .period_2 .tools_timeline_label {
  display: none;
}
.tools_timeline.step_3 .period_3 .tools_timeline_label {
  display: none;
}
.tools_timeline.step_3 .period_4 .tools_timeline_label {
  display: none;
}
