.climate_insights_right {
  width: 56.52%;
  padding-left: 52px;
}
.climate_insights_triggers {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -19px -30px;
}
.climate_insight_box {
  width: calc(50% - 38px);
  margin: 0 19px 30px;
  display: flex;
  display: -webkit-flex;
}
.climate_insight_icon {
  width: 40px;
  min-width: 40px;
  margin-right: 24px;
}
.climate_insights_img video {
  vertical-align: top;
  width: 100%;
}
.climate_insights_img {
  width: 43.48%;
}

.climate_insight_name {
  color: #fff;
  font: 500 16px/20px "GT Eesti Pro Display",sans-serif;
  margin-bottom: 7px;
}
.climate_insight_text {
  color: rgba(255,255,255,.6);
  font: 300 16px/24px "GT Eesti Pro Display",sans-serif;
}
.climate_insights {
  padding: 60px 0 69px;
  display: flex;
  display: -webkit-flex;
}