.container_fluid {
  padding: 0 40px;
  margin: 0 auto;
}
.tools_container {
  min-height: 616px;
  background-color: #26262b;
  padding: 48px 0;
}
.slick_arrow {
  display: flex;
  position: absolute;
  top: 50%;
  z-index: 5;
  align-items: center;
  justify-content: center;
  width: 56px;
  height: 56px;
  background-color: #fff;
  border: 2px solid #eaeaeb;
  border-radius: 50%;
  transition: all .3s;
}

.slick_arrow:hover {
  background-color: #fa5925;
  border-color: #fa5925;
}

.slick_arrow::before {
  color: black;
}

.slick_arrow:hover:before {
  color: white;
}
.next {
  top: 20px
}

.prev {
  top: 20px
}