.home {
  font-family: "GT Eesti Pro Display", sans-serif;
  letter-spacing: -0.7px;
  background-color: #f1f1f3;
}

.top_section {
  background-image: url("../../../public/assets/images/Home/sacramento.png");
  display: -webkit-flex;
  height: 664px;
  position: relative;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.top_section:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  display: block;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(to bottom, #000, rgba(0, 0, 0, 0.4));
  opacity: 0.4;
}

.description_block {
  max-width: 800px;
  margin: 0 auto;
  text-align: center;
}

.text_block {
  color: #545456;
  font: 300 19px/28px "GT Eesti Pro Display", sans-serif;
}

.description_block .title_block {
  margin-bottom: 26px;
}
.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 40px;
}