.forecast_wrap {
  padding: 20px 0;
  display: flex;
  align-items: center;
  -webkit-align-items: center;
}
.forecast_img {
  width: 49.2%;
  height: 354px;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}
.forecast_info {
  padding: 0 78px 0 79px;
  width: 50.8%;
}
.forecast_info_title {
  color: #fff;
  font: 500 22px/25px "GT Eesti Pro Display", sans-serif;
  letter-spacing: -0.1px;
  margin-bottom: 21px;
}

.forecast_info_text p {
  color: rgba(255, 255, 255, 0.6);
  font: 300 16px/24px "GT Eesti Pro Display", sans-serif;
  margin-bottom: 20px;
}
